{% extends 'base.html.twig' %}

{% block body %}
    <main role="main">
        <div class="container">
            <div class="row">
                <h2>
                    Discounts count: <span id="counter">{{ count }}</span>
                </h2>
            </div>
            <div class="row">
                {% for data in vouchers %}
                    <div class="discount">
                        <div class="d_header">
                            {{ data.shop }}
                        </div>
                        <div class="dates">
                            <div class="start"><b>starts:</b><br>{{data.validFromDate|date("m/d/Y")}}</div>
                            <div class="expire"><b>expires:</b><br>{{data.expireDate|date("m/d/Y")}}</div>
                        </div>
                        <div class="d_body">
                            <p><b>code:</b> {{data.code}}</p>
                            {#<p><b>program ID:</b> {{data.programId}}</p>#}
                            <p><b>description:</b> {{data.value}}</p>
                            <p><b><a href="{{data.url}}">Destination URL</a></b></p>
                            <p><b>discount:</b> {{data.discount}}</p>
                            <p><b>currency:</b> {{data.currency}}</p>
                            <p><b>commission value formatted:</b> {{data.commissionValueFormatted}}</p>
                        </div>
                        <div class="d_footer">
                            <button class="btn btn-success submit" data-id="{{ data.id }}" role="button">Submit discount</button>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <hr>
        </div>
    </main>

{% endblock %}